# Entorno virtual
venv/
env/
ENV/

# Python / Django
*.pyc
__pycache__/
staticfiles/
media/

# Node / Tailwind
node_modules/

# IDEs (VS Code / PyCharm)
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db